/*******************************
FORMS
********************************/
.row {
  margin-bottom: 70px;
  margin-left: 15%;
  margin-right: 15%;
}

.form-group .btn {
  width: 100%;
  text-align: center;
}

.form-control {
  padding: 17px 25px;
  font-size: 15px;
  height: auto;
  border-radius: 0;
  background: #f3f3f3;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.5;
  transition: all 0.5s;
  border: 1px solid #777;
}

.form-control:focus {
  border: 1px solid #454554;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.login {
  background-color: #fff;
  border: 1px | #aaa;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px 20px;
  width: 30%;
}

.login:hover,
.login:focus {
  border-color: #777
}

.login a {
  font-size: 20px;
  color: #777;
  text-decoration: none;
}

.login a:hover,
.login a:focus {
  color: #000
}

.login-container {
  padding-top: 90px;
  height: 735px;
}

.login-session {
  height: 100px;
  text-align: center;
  cursor: text;
}

.login-logo {
  height: 350px;
}
.login-signin-button{
  text-align: center;
}
.login-signin-button a {
  color: #777;
}

.loginbtn {
  background-color: #fff;
  border: 1px | #aaa;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
}

.loginbtn:hover,
.loginbtn:focus {
  border-color: #777;
  color: #000;
}

@media (min-width: 768px) {
  .input-section {
    float: none;
  }
}

@media (min-width: 992px) {
  .input-section {
    float: none;
  }
}

@media (min-width: 1200px) {
  .input-section {
    float: left;
    width: 50%;
    display: table;
    margin-left: 20%;
  }

  .col-lg-6 {
    width: 100%;
  }

  .loginbtn {
    width: 20%;
    height: 100px;
  }
}
