.signin-container {
  height: 1000px;
  padding-top: 90px;
  width: 50%;
  border-left: 2px | #999;
  border-right: 2px | #999;
  border-bottom-width: 0px;
  border-style: groove;
  text-align: left;
}
.signin-container h1{
  text-align: center;
}
.signin-container h3{
  padding-left: 25px;
}
.repetition:hover,
.repetition:focus{
  border-color: #777;
  color: #000;
}

@media (min-width: 768px) {
  .signin-container {
    width: 100%;
  }

  .col-lg-6 {
    width: 100%;
  }

  .repetition {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .signin-container {
    width: 100%;
  }

  .col-lg-6 {
    width: 100%;
  }

  .repetition {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .signin-container {
    width: 50%;
    margin-left: 25%;
  }

  .col-lg-6 {
    width: 80%;
  }

  .repetition {
    width: 10%;
    height: 50px;
  }
}
